In [14]:
import sqlite3
from sqlite3 import Error

In [32]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [33]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
select facs.name, sum(case 
when memid = 0 then slots * facs.guestcost
else slots * membercostend) as revenue
from Bookings bks
inner join Facilities facs
on bks.facid = facs.facid
group by facs.name
having sum(case 
when memid = 0 then slots * facs.guestcost
else slots * membercost
end) < 1000
order by revenue;

        """
    
    cur.execute(query1)
   
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [34]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("question_10")
        select_all_tasks(conn)

In [35]:
if __name__ == '__main__':
    main()

2.6.0
question_10
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [36]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select 
distinct Members.firstname, Members.surname, 
(select recommender.firstname || ' ' || recommender.surname from Members recommender where recommender.memid = Members.recommendedby)
from  Members 
order by Members.firstname, Members.surname;


        """
    
    cur.execute(query1)
   
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [37]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("question_11")
        select_all_tasks(conn)

In [38]:
if __name__ == '__main__':
    main()

2.6.0
question_11
('Anna', 'Mackenzie', 'Darren Smith')
('Anne', 'Baker', 'Ponder Stibbons')
('Burton', 'Tracy', None)
('Charles', 'Owen', 'Darren Smith')
('Darren', 'Smith', None)
('David', 'Farrell', None)
('David', 'Jones', 'Janice Joplette')
('David', 'Pinker', 'Jemima Farrell')
('Douglas', 'Jones', 'David Jones')
('Erica', 'Crumpet', 'Tracy Smith')
('Florence', 'Bader', 'Ponder Stibbons')
('GUEST', 'GUEST', None)
('Gerald', 'Butters', 'Darren Smith')
('Henrietta', 'Rumney', 'Matthew Genting')
('Henry', 'Worthington-Smyth', 'Tracy Smith')
('Hyacinth', 'Tupperware', None)
('Jack', 'Smith', 'Darren Smith')
('Janice', 'Joplette', 'Darren Smith')
('Jemima', 'Farrell', None)
('Joan', 'Coplin', 'Timothy Baker')
('John', 'Hunt', 'Millicent Purview')
('Matthew', 'Genting', 'Gerald Butters')
('Millicent', 'Purview', 'Tracy Smith')
('Nancy', 'Dare', 'Janice Joplette')
('Ponder', 'Stibbons', 'Burton Tracy')
('Ramnaresh', 'Sarwin', 'Florence Bader')
('Tim', 'Boothe', 'Tim Rownam')
('Tim', 'Rownam', None)
('Timothy', 'Baker', 'Jemima Farrell')
('Tracy', 'Smith', None)

In [ ]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select 
distinct Members.firstname, Members.surname, 
(select recommender.firstname || ' ' || recommender.surname from Members recommender where recommender.memid = Members.recommendedby)
from  Members 
order by Members.firstname, Members.surname;


        """
    
    cur.execute(query1)
   
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [39]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("question_12")
        select_all_tasks(conn)

In [40]:
if __name__ == '__main__':
    main()

2.6.0
question_12
('Anna', 'Mackenzie', 'Darren Smith')
('Anne', 'Baker', 'Ponder Stibbons')
('Burton', 'Tracy', None)
('Charles', 'Owen', 'Darren Smith')
('Darren', 'Smith', None)
('David', 'Farrell', None)
('David', 'Jones', 'Janice Joplette')
('David', 'Pinker', 'Jemima Farrell')
('Douglas', 'Jones', 'David Jones')
('Erica', 'Crumpet', 'Tracy Smith')
('Florence', 'Bader', 'Ponder Stibbons')
('GUEST', 'GUEST', None)
('Gerald', 'Butters', 'Darren Smith')
('Henrietta', 'Rumney', 'Matthew Genting')
('Henry', 'Worthington-Smyth', 'Tracy Smith')
('Hyacinth', 'Tupperware', None)
('Jack', 'Smith', 'Darren Smith')
('Janice', 'Joplette', 'Darren Smith')
('Jemima', 'Farrell', None)
('Joan', 'Coplin', 'Timothy Baker')
('John', 'Hunt', 'Millicent Purview')
('Matthew', 'Genting', 'Gerald Butters')
('Millicent', 'Purview', 'Tracy Smith')
('Nancy', 'Dare', 'Janice Joplette')
('Ponder', 'Stibbons', 'Burton Tracy')
('Ramnaresh', 'Sarwin', 'Florence Bader')
('Tim', 'Boothe', 'Tim Rownam')
('Tim', 'Rownam', None)
('Timothy', 'Baker', 'Jemima Farrell')
('Tracy', 'Smith', None)

In [46]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select 
distinct Members.firstname, Members.surname, 
(select recommender.firstname || ' ' || recommender.surname from Members recommender where recommender.memid = Members.recommendedby)
from  Members 
order by Members.firstname, Members.surname;


        """
    
    cur.execute(query1)
   
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [47]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("question_13")
        select_all_tasks(conn)

In [48]:
if __name__ == '__main__':
    main()

2.6.0
question_13
('Anna', 'Mackenzie', 'Darren Smith')
('Anne', 'Baker', 'Ponder Stibbons')
('Burton', 'Tracy', None)
('Charles', 'Owen', 'Darren Smith')
('Darren', 'Smith', None)
('David', 'Farrell', None)
('David', 'Jones', 'Janice Joplette')
('David', 'Pinker', 'Jemima Farrell')
('Douglas', 'Jones', 'David Jones')
('Erica', 'Crumpet', 'Tracy Smith')
('Florence', 'Bader', 'Ponder Stibbons')
('GUEST', 'GUEST', None)
('Gerald', 'Butters', 'Darren Smith')
('Henrietta', 'Rumney', 'Matthew Genting')
('Henry', 'Worthington-Smyth', 'Tracy Smith')
('Hyacinth', 'Tupperware', None)
('Jack', 'Smith', 'Darren Smith')
('Janice', 'Joplette', 'Darren Smith')
('Jemima', 'Farrell', None)
('Joan', 'Coplin', 'Timothy Baker')
('John', 'Hunt', 'Millicent Purview')
('Matthew', 'Genting', 'Gerald Butters')
('Millicent', 'Purview', 'Tracy Smith')
('Nancy', 'Dare', 'Janice Joplette')
('Ponder', 'Stibbons', 'Burton Tracy')
('Ramnaresh', 'Sarwin', 'Florence Bader')
('Tim', 'Boothe', 'Tim Rownam')
('Tim', 'Rownam', None)
('Timothy', 'Baker', 'Jemima Farrell')
('Tracy', 'Smith', None)